html,body {
  height: 100%;
}

.jumbotron {
  text-align: center;
  background: none;
}
.carousel-row {
  padding: 60px 0;
}
.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.coolStuffWrapper {
  margin-top: 20px;
}

button.coolStuffBtn {
  background-color: red;
  color: #fff;
  display: block;
  margin: auto;
}

h5.modal-title {
  margin:auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 50%;
}

.footer {
  margin-bottom:0;
}


.footer-dark {
  background-color: #3c3d41;
 padding: 60px 40px;
 color: rgba(255,255,255,1.00);
 margin-bottom: 20px;
 border-bottom-right-radius: 6px;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 6px;
}

.footerImg {
  padding: 10px;
}
